/* the html is limited to US letter (8.5'X11') dimensions
scaled to the width of the viewport */

/* Todo: media query so that fonts, margins,
and formatting scale properly */


/* default media; mobile first portrait (iphone XS max) */
@media only screen and (min-width: 414px) and (max-width: 767px) and (orientation: portrait) {
    
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 129.411765vw;
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    overflow-y: clip;
    background-color: black;
    color: white;
}

.title {
    flex-basis: 50%;
    /* background-color: coral; */
}

.my-name {
    font-size: 1rem;
    letter-spacing: .2rem;
}

.my-title {
    font-size: .5rem;
    letter-spacing: .25rem;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    justify-self: flex-end;
    background-color: coral;
}

.contact {
    font-size: .3rem;
    letter-spacing: 0rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black
}

.contact {
    color: white;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

main {
    width: 100vw;
    height: 85%;
    overflow-y: clip;
    display: flex;
    flex-direction: row;
}

.column {
    height: 100%;
    overflow-y: clip;
    /* overflow-x: clip; */
    padding: 40px;
}

.left {
    width: 30%;
}
.right {
    width: 70%;
}

section > h3 {
    font-size: 2.9rem;
    letter-spacing: .5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    word-spacing: .3rem;
    line-height: 200%;
    overflow-wrap: break-word;
    hyphens: auto;
}

li {
    font-size: 1.5rem;
    word-spacing: .5rem;
    margin: 10px 0;
}

section {
    padding: 40px;
}

h5 {
    font-size: 1.6rem;
}

.technical-skills {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.education {
    flex-basis: 80%;
}

.project {
    margin-left: 20px;
}

.project > p {
    line-height: 150%;
}

.school {
    margin-top: 40px;
}

.position {
    margin-top: 40px;
}

i {
    font-size: 1.2rem;
    word-spacing: .5rem;
}