/* the html is limited to US letter (8.5'X11') dimensions
scaled to the width of the viewport */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 129.411765vw;
    border: 1px solid black;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
    overflow-y: clip;
}

main {
    width: 100%;
    height: 85%;
    overflow-y: clip;
}

section {
    height: 25%;
    overflow-y: scroll;
}

.summary {
}

.technical-skills {
    background-color: firebrick;
}

.experience {
    background-color: lightcoral;
}

.education {
    background-color: seagreen;
}