html {
    width: 100vw;
    height: 129.411765vw;
    background-color: aquamarine;
    border: 1px solid black;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkgoldenrod;
    width: 100%;
}